body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:42px;
  top:20px;
  width:498px;
  height:3320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:3320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1652px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
